@import url('./variaveis.css');
.cadastro-entradas {
    display: contents;
}

.cadastro-entradas input {
    height: 2em;
    width: 80%;
    border: 1px solid var(--cor-preto);
    border-radius: 5px;
    text-align: center;
}

.cadastro-entradas input:focus {
    outline: none;
}

.cadastro-entradas input::placeholder {
    text-align: center;
}

.cadastro-entradas input[type="button"] {
    width: 50%;
    background-color: var(--cor-verde);
    text-transform: uppercase;
    color: var(--cor-branco);
    font-weight: bold;
    cursor: pointer;
}