@import url('./variaveis.css');
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

form {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

form input {
    height: 1.5rem;
    border: 1px solid var(--cor-preto);
    padding: 0 1rem;
    caret-color: var(--cor-azul);
}

form input[name="descricao"] {
    width: 10vdw;
    border-radius: 5px;
}

form input[name="detalhamento"] {
    width: 30vw;
    border-radius: 5px;
}

form input[name="salvar"] {
    background-color: var(--cor-azul);
    padding: 0 3px;
    cursor: pointer;
    color: var(--cor-branco);
    border: none;
    height: 1.6rem;
    transition: 0.3s;
    font-weight: bold;
    border-radius: 5px;
}

form input[name="salvar"]:hover {
    box-shadow: 0.5px 0.5px 2.5px 2.5px var(--cor-shadow);
}

.tabela {
    margin-top: 1.5rem;
    text-align: center;
    line-height: 25px;
    width: 75vw;
}

.tabela tr {
    height: 2rem;
    border-bottom: 1px solid var(--cor-preto);
}

tbody tr:nth-child(even) {
    background-color: var(--cor-cinza);
}

tbody td:nth-child(2), tbody td:nth-child(3){
    text-align: center;
    overflow-y: auto;
    overflow-wrap: break-word;
    max-width: 100px;
}

tbody td:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

thead {
    background-color: var(--cor-branco);
    height: 2.5rem;
}

tbody td button{
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    padding: 0 3px;
    cursor: pointer;
    color: var(--cor-branco);
    height: 1.5rem;
    transition: 0.3s;
}

tbody td button:nth-child(2) {
    background-color: var(--cor-vermelho);
}

tbody td button:nth-child(1) {
    background-color: var(--cor-verde);
}

tbody td button:nth-child(2):hover, tbody td button:nth-child(1):hover {
    box-shadow: 0.5px 0.5px 2.5px 2.5px var(--cor-shadow);
}

.review {
    border: 2px solid red!important;
}

@media (max-width: 425px) {
    form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    form input {
        width: 80vw;
    }

    form input[name="detalhamento"] {
        width: 80vw;
    }

    form input[name="salvar"] {
        width: 40vw;
    }
}