/* Estilização da página index.html */

.box {
    position: fixed;
    height: 100vh;
    width: 50vw;
}

.box-img {
    top: 0;
    left: 0;
}

.box-img img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.box-login {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.box-login h1 {
    text-align: center;
}

.entradas {
    display: contents;
}

.entradas input {
    height: 2em;
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.entradas input:focus {
    outline: none;
}

.entradas input[type="button"]{
    width: 50%;
    text-align: center;
    padding: 1em 0;
    line-height: .5em;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
} 

.botao-entrar {
    background-color: green;
}

.entradas input[type="button"]:hover {
    box-shadow: 4px 4px 10px grey;
    transition: .3s;
    font-weight: bold;
}

.botao-cadastrar {
    padding: 1em;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.botao-cadastrar:hover {
    transition: .3s;
    font-weight: bold;
}
