/* importar outros arquivos de estilo */
@import url('./grownotes.css');
@import url('./login.css');
@import url('./cadastro.css');
@import url('./variaveis.css');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-branco);
}

@media (max-width: 576px) {
    .box-img {
        display: none;
    }
    .box {
        width: 100vw;
    }
}

/* classe será adicionada e retirada via js para aviso de erro */
.review {
    border: 2px solid red!important;
}