:root {
    --cor-branco: #f3f3f3;
    --cor-preto: #333;
    --cor-vermelho: rgb(255, 60, 60);
    --cor-verde: #4CAF50;
    --cor-azul: rgb(60, 72, 245);
    --cor-shadow: rgb(170, 169, 169);
    --cor-cinza: #ccc;
}